* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#app {
  font-family: Arial, sans-serif;
  background: #35527d;
  margin: 0;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}